body {
  background-color: #32612D; /* perhaps basil is better? */
}

.centered-box {
  min-width: 170px;
  min-height: 50px;
  background-color: gold;
  position: absolute;
/*  center it in the page  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  rounded edges  */
  border-radius: 5px;
}

.fist {
/*   margin-top: -12px; */
  
  font-size: 32px;
  line-height: 50px;
  color: blue;
  padding: 10px;
  width: 50%; 
  height: 50px;
  box-sizing: border-box; /* Includes padding and border in the width */
  float: left; /* makes them go next to each other? */
  overflow: visible; /* lets text go past */
  white-space: nowrap;
  word-spacing: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fist--left {
  @extend .fist;
  color: red;
  text-align: right;
}

.fist--right {
  @extend .fist;
  
}
