body {
  background-color: #32612D; /* perhaps basil is better? */
}

.centered-box {
  display: flex;
  align-items: center;
  background-color: gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.testing_big_parens {
  font-size: 272px;
}
